@import "./style.css";
.banners {
  position: relative;
}

.landing {
  display: flex;
  flex-direction: column;
}

.multi-country-processes {
  position: relative;
}

.testimonials .card {
  align-items: center;
  border: none;
}

.testimonials img {
  height: 80px;
  width: 80px;
}

.world-map {
  height: 21rem !important;
  object-fit: cover;
}

.land_btn {
  margin: 2.5rem 0;
}

.country {
  font-weight: 300;
  text-transform: capitalize !important;
  font-size: 29px;
}

.country-desc {
  inline-size: 44rem;
  word-spacing: 6px;
  padding-bottom: 15px;
  font-size: 2.5rem;
}

.multi-country {
  margin-left: -11rem;
}

.tbs {
  border-radius: 10px;
  content: "";
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: 5px -5px 5px 5px #969696, 5px 10px 9px #969696;
}

.sdlc_p {
  inline-size: 30rem;
  word-spacing: 10px;
}

.border_stage {
  padding-top: 20px;
  background-color: linear-gradient(to left, #4c4647, #a65348, #d33733);
}

.sdlcprocess {
  position: sticky;
  top: 0;
  left: 0;
}

.tbs {
  margin: 0 2rem;
  border-radius: 10px;
  padding: 15px;
  width: 50rem;
}

.nav-tabs {
  inline-size: 22rem;
  text-align: start;
  border: none;
  color: #808080;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-tabs i {
  vertical-align: middle;
  color: dimgray;
  margin-right: 10px;
}

.tab-pane p {
  inline-size: 24rem;
  text-align: start;
  margin-left: 1rem;
  font-size: 20px;
}

hr {
  margin: 0 0 0 42px;
  width: 19rem;
}

.processMuliple {
  padding: 20px 0;
}

#plusIcons {
  display: flex !important;
  justify-content: center;
  height: 2.5rem;
  margin: 0.75rem 0;
}

.multi-country-text-desc {
  margin: 2.5rem 0;
}

.img-sdlc{
  position: relative;
}

.img-sdlc::before{
  content: "";
  background-color: #696969;
  position: absolute;
  height: 44px;
}

/* Contact Section */

.jitucontact{
  background-color: #F4F4F4;
  position: relative;
}

.jitucontact::before{
  content: "";
  background-color: #696969;
  position: absolute;
  height: 70px;
  width: 40rem;
  top: -25px;
  border-radius: 70%;
  filter: blur(7px);
  z-index: -1;
}

.jitucontact::after{
  content: "";
  background-color: #696969;
  position: absolute;
  height: 70px;
  width: 49rem;
  top: -25px;
  border-radius: 75%;
  filter: blur(7px);
  z-index: -1;
}