/* Small mobile screens */
@media only screen and (max-width: 600px) {
    .main_footer{
        display: flex;
        flex-direction: column;
    }
    .f_contacts, .f_quicklinks, .f_ourtechfam{
        margin-bottom: 30px;
        padding-left: 40px !important;
    }
    .footer_logo>a>img{
        margin: 20px 0px;
    }

    #d_topbar{
        display: none;
    }
    .ul2{
        gap: 10px;
    }
    #extra_linkz{
        display: flex;
        flex-direction: row;
        font-size: 0.7em;
        justify-content: center;
    }
    #extra_linkz div:not(:last-child){
        /* border-right-style: solid; */
        border-right: 1px solid black;
        padding-right: 20px;
        padding-left: 20px;
    }
    .banner_h1{
        margin-bottom: 40px;
        margin-top: -40px;
    }

    /* Processes */
    .land_btn{
        margin: 5rem 0 0 0 !important;
        flex-direction: column;
    }

    .multi-country .country,
    .multi-country .country-desc,
    .multi-country .conutry-content{
        inline-size: 25rem;
        margin: .5rem 0 0 11rem;
    }

    .header_text{
        inline-size: 24rem;
    }

    .plus{
        margin-left: -6rem;
        margin-top: -.5rem
    }
    
    .processT{
        inline-size: 7rem;
        margin-left: -3rem;
    }

    .multi-country-text-desc{
        inline-size: 14rem;
        margin-left: -1.5rem;
    }
    
    .multi-country-text-button{
        margin-left: -1rem;
    }

    .country-summary{
        inline-size: 22rem;
    }

    .bg-benefits img{
        object-fit: contain;
    }

    .sw_lifeCycle{
        margin-top: -52rem;
        width: 23rem;
    }
    
    .sw_lifeCycle p{
        inline-size: 22rem;
        margin-left: -7rem !important;
        line-height: 35px;
        font-size: 1.8rem;
    }
    .sw_lifeCycle .headerSDLC{
        line-height: 40px;
        margin-left: -7rem !important;
        inline-size: 23rem;
        font-size: 1.95rem;
    }
    .sw_lifeCycle .sw_subheading{
        margin-left: -7rem !important;
        inline-size: 22rem;
        font-size: 1.15rem;
        line-height: 29px;
    }

    .sdlcprocesses{
        margin-left: 0 !important;
        margin-top: -11rem !important;
    }
    .sdlcprocesses .sdlc{
        inline-size: 23rem;
    }
    .sdlcprocesses .closing_p,
    .sdlcprocesses .sdlc_p{
        inline-size: 24rem;
    }
    
}

/* Smartphones and larger mobile screens */
@media only screen and (min-width: 600px) {
    .main_footer{
        display: flex;
        flex-direction: column;
    }
    .f_contacts, .f_quicklinks, .f_ourtechfam{
        margin-bottom: 30px;
        padding-left: 40px !important;
    }
    .footer_logo>a>img{
        margin: 20px 0px;
    }

    #d_topbar{
        display: none;
    }
    .ul2{
        gap: 10px;
    }
    #extra_linkz{
        display: flex;
        flex-direction: row;
        font-size: 0.7em;
        justify-content: center;
    }
    #extra_linkz div:not(:last-child){
        /* border-right-style: solid; */
        border-right: 1px solid black;
        padding-right: 20px;
        padding-left: 20px;
    }
    .banner_h1{
        margin-bottom: 40px;
        margin-top: -40px;
    }
}

/* Tablets and smaller/small desktops */
@media only screen and (min-width: 768px) {
    .main_footer{
        display: flex;
        flex-direction: column;
    }
    .footer_logo>a>img{
        margin: 20px 0px;
    }
    .f_contacts, .f_quicklinks, .f_ourtechfam{
        padding-left: 40px ip !important;
    }
    #d_topbar{
        display: none;
    }
    .ul2{
        gap: 10px;
    }
    #extra_linkz{
        display: flex;
        flex-direction: row;
        font-size: 0.7em;
        justify-content: center;
    }
    #extra_linkz div:not(:last-child){
        /* border-right-style: solid; */
        border-right: 1px solid black;
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* Desktops and larger screens */
@media only screen and (min-width: 992px) {
    .main_footer{
        display: flex;
        flex-direction: row;
    }
    .f_contacts, .f_quicklinks, .f_ourtechfam{
        padding: 50px 0px 0px 0px;
    }
    #d_topbar{
        display: block;
    }
    .ul2{
        gap: 30px;
    }
    #extra_linkz{
        display: none;
    }

    /* Processes */
    .sw_lifeCycle{
        width: 92rem !important;
    }

    .subHeaderSDCL,
    .headerSDLC{
        margin-left: 12rem !important;
    }
    
    .sw_subheading{
        margin-left: 12rem !important;
        inline-size: 47rem !important;
    }
}