/* Small mobile screens */
@media only screen and (max-width: 600px) {
  .main_footer {
    display: flex;
    flex-direction: column;
  }
  .f_contacts,
  .f_quicklinks,
  .f_ourtechfam {
    margin-bottom: 30px;
    padding-left: 40px !important;
  }
  .footer_logo > a > img {
    margin: 20px 0px;
  }

  #d_topbar {
    display: none;
  }
  .ul2 {
    gap: 10px;
  }
  #extra_linkz {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    justify-content: center;
  }
  #extra_linkz div:not(:last-child) {
    /* border-right-style: solid; */
    border-right: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;
  }
  .banner_h1 {
    margin-bottom: 40px;
    margin-top: -40px;
  }

  .jitucontact::before{
    width: 13rem !important;
  }

  .jitucontact::after{
    width: 12rem !important;
    right: 0;
  }

  /* Home */
  /* .services::before {
    content: "";
    position: absolute;
    width: 12rem;
    height: 47px;
    background-color: #696969;
    right: -1rem;
    border-bottom-left-radius: 80%;
    filter: blur(14px);
    top: -7rem;
    z-index: -1;
  }
  
  .services::after {
    content: "";
    position: absolute;
    width: 12rem;
    height: 47px;
    background-color: #696969;
    left: -1rem;
    border-bottom-right-radius: 80%;
    filter: blur(14px);
    top: -7rem;
    z-index: -1;
  } */

  .why-jitu::before {
    content: "";
    position: absolute;
    width: 16rem;
    height: 40px;
    background-color: dimgray;
    left: 4rem;
    border-radius: 50%;
    filter: blur(8px);
    top: -6.25rem;
    z-index: -1;
  }

  .testimonial-title{
    inline-size: 17rem;
    margin: .5rem 3rem;
  }
  .testimonial-content{
    inline-size: 19rem;
  }
  .testimonial-author{
    inline-size: 12rem;
    margin-left: 9rem;
  }

  .testimonials::before {
    content: "";
    position: absolute;
    width: 16rem;
    height: 32px;
    background-color: dimgray;
    left: 4rem;
    top: -1rem;
    border-radius: 50%;
    filter: blur(15px);
  }

  .previous,
  .next{
    height: 4rem;
    margin: 18rem 0;
  }
  
  .carousel-control-prev-icon img,
  .carousel-control-next-icon img{
    width: 36px !important;
    height: 2rem !important;
  }

  /* Processes */
  .banner::after {
    content: "";
    position: absolute;
    height: 53px;
    background-color: #232323;
    bottom: -25px;
    border-radius: 56%;
    filter: blur(20px);
    width: 20rem;
    left: 0;
  }
  .banner-title {
    inline-size: 22rem;
    text-transform: initial !important;
    font-size: 56px;
    line-height: 48px;
    margin-top: 8rem;
  }

  .banner-content {
    inline-size: 20rem;
    font-size: 24px;
    line-height: 43px;
  }

  .land_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
  }

  .land_btn .button {
    width: 16rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  #sdlc {
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
    margin: 0 1.5rem;
  }

  #sdlc:hover {
    background-color: #ffffff !important;
  }

  .country-content {
    inline-size: 21rem;
    font-size: 20px;
    margin-left: 11rem;
  }

  .header_text {
    text-align: center;
    inline-size: 21rem;
  }

  .tbs {
    visibility: collapse;
  }

  .processTab {
    display: none;
  }

  .accordion {
    visibility: visible;
    display: block;
    border: none;
  }

  .accordion-body p {
    text-align: start;
  }

  .multi-country-processes::after {
    content: "";
    background-color: #696969;
    position: absolute;
    height: 37px;
    width: 20rem;
    transform: skewX(-0.24turn);
    opacity: 0.5;
    filter: blur(10px);
    left: -29rem;
  }

  .multi-country-text-button {
    margin-left: -9rem;
  }

  .multi-country .country,
  .multi-country .country-desc,
  .multi-country .conutry-content {
    inline-size: 22rem;
    margin: 0.5rem 0 0 11rem;
  }

  .plus {
    margin-left: -6rem;
    margin-top: -0.5rem;
  }

  .processT {
    inline-size: 7rem;
    margin-left: -3rem;
  }

  .multi-country-text-desc {
    inline-size: 14rem;
    margin-left: -1.5rem;
  }

  .country-summary {
    inline-size: 22rem;
  }

  .bg-benefits img {
    object-fit: contain;
  }

  .sw_lifeCycle {
    width: 20rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -8rem;
    position: absolute;
    background: white;
    box-shadow: 10px 12px 5px #696969;
  }

  .sw_lifeCycle p {
    inline-size: 18rem;
    margin-left: 1rem;
    line-height: 35px;
    font-size: 1.8rem;
  }
  .sw_lifeCycle .headerSDLC {
    line-height: 40px;
    margin-left: 1rem;
    inline-size: 18rem;
    font-size: 1.95rem;
  }
  .sw_lifeCycle .sw_subheading {
    margin-left: 1rem;
    inline-size: 18rem;
    font-size: 1.15rem;
    line-height: 29px;
  }

  .agile-process {
    margin-top: 36rem;
  }

  .sdlcprocesses .sdlc {
    inline-size: 23rem;
  }
  .sdlcprocesses .closing_p,
  .sdlcprocesses .sdlc_p {
    inline-size: 21rem;
  }
}

/* Smartphones and larger mobile screens */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .main_footer {
    display: flex;
    flex-direction: column;
  }
  .f_contacts,
  .f_quicklinks,
  .f_ourtechfam {
    margin-bottom: 30px;
    padding-left: 40px !important;
  }
  .footer_logo > a > img {
    margin: 20px 0px;
  }

  #d_topbar {
    display: none;
  }
  .ul2 {
    gap: 10px;
  }
  #extra_linkz {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    justify-content: center;
  }
  #extra_linkz div:not(:last-child) {
    /* border-right-style: solid; */
    border-right: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;
  }
  .banner_h1 {
    margin-bottom: 40px;
    margin-top: -40px;
  }
  /* Home */
  .banner::after{
    content: "";
    position: absolute;
    height: 53px;
    background-color: #232323;
    bottom: -25px;
    border-radius: 56%;
    filter: blur(20px);
    width: 35rem;
    left: 0;
  }

  .why-jitu::before {
    content: "";
    position: absolute;
    width: 33rem;
    height: 40px;
    background-color: dimgray;
    left: 4rem;
    border-radius: 50%;
    filter: blur(8px);
    top: -6.25rem;
    z-index: -1;
  }

  .testimonials::before {
    content: "";
    position: absolute;
    width: 31rem;
    height: 32px;
    background-color: dimgray;
    left: 4rem;
    top: -1rem;
    border-radius: 50%;
    filter: blur(15px);
  }

  .previous,
  .next{
    height: 4rem;
    margin: 10rem 0;
  }
  
  .carousel-control-prev-icon img,
  .carousel-control-next-icon img{
    width: 36px !important;
    height: 2rem !important;
  }

  .testimonial-content{
    inline-size: 26rem;
  }
  .testimonial-author{
    inline-size: 12rem;
    margin-left: 22rem;
  }
}

/* Medium devices  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_footer {
    display: flex;
    flex-direction: column;
  }
  .footer_logo > a > img {
    margin: 20px 0px;
  }
  .f_contacts,
  .f_quicklinks,
  .f_ourtechfam {
    padding-left: 40px ip !important;
  }
  #d_topbar {
    display: none;
  }
  .ul2 {
    gap: 10px;
  }
  #extra_linkz {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    justify-content: center;
  }
  #extra_linkz div:not(:last-child) {
    border-right: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* Home */
  .banner::after{
    content: "";
    position: absolute;
    height: 53px;
    background-color: #232323;
    bottom: 0.7rem;
    border-radius: 56%;
    filter: blur(20px);
    width: 35rem;
    left: 0;
  }

  .why-jitu::before {
    content: "";
    position: absolute;
    width: 44rem;
    height: 40px;
    background-color: dimgray;
    left: 4rem;
    border-radius: 50%;
    filter: blur(8px);
    top: -6.25rem;
    z-index: -1;
  }

  .testimonials::before {
    content: "";
    position: absolute;
    width: 45rem;
    height: 32px;
    background-color: dimgray;
    left: 4rem;
    top: -1rem;
    border-radius: 50%;
    filter: blur(15px);
  }

  .previous,
  .next{
    height: 4rem;
    margin: 17rem 0;
  }
  
  .carousel-control-prev-icon img,
  .carousel-control-next-icon img{
    width: 36px !important;
    height: 2rem !important;
  }

  .testimonial-content{
    inline-size: 30rem;
  }
  .testimonial-author{
    inline-size: 12rem;
    margin-left: 28rem;
  }

  /* processes */
  .banners::after {
    left: -6rem;
  }

  .banner-title {
    inline-size: 37rem;
    text-transform: initial !important;
    font-size: 56px;
  }

  .banner-content {
    inline-size: 27rem;
    font-size: 24px;
  }

  .header_text {
    text-align: center;
    inline-size: 41rem;
  }

  #sdlc {
    margin: 0 1.5rem;
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
  }

  #sdlc:hover {
    background-color: #ffffff !important;
  }

  .multi-country-processes .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .multi-country-processes::after {
    left: -48rem;
  }

  .muliple_processes {
    display: none;
  }

  .processTab {
    display: none;
  }

  .tbs {
    visibility: collapse;
  }

  .accordion {
    visibility: visible;
    display: block;
    border: none;
  }

  .accordion-body p {
    text-align: start;
  }

  .multi-country-text-button {
    margin-left: -28rem;
  }

  .img-sdlc::before {
    width: 38rem;
    top: 0;
    border-radius: 70%;
    left: 2rem;
    filter: blur(33px);
    transform: skew(10deg, -3.5deg);
  }

  .bg-benefits {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    height: 30rem;
  }

  .country-content {
    inline-size: 43rem;
    font-size: 20px;
  }

  .sw_lifeCycle {
    width: 40rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -8rem;
    position: absolute;
    background: white;
    box-shadow: 10px 12px 5px #696969;
  }

  .subHeaderSDCL {
    font-size: 23px;
    margin-left: 1rem;
  }

  .headerSDLC {
    font-weight: bold;
    inline-size: 39rem;
    padding-bottom: 15px;
    margin: 1rem 0 0 1rem;
  }

  .sw_subheading {
    text-transform: none;
    inline-size: 40rem;
    margin: 1rem 0 0 1rem;
    font-size: 1.25rem;
    color: grey;
    padding-bottom: 20px;
  }

  .agile-process {
    margin-top: 18rem;
  }

  .sdlcprocesses {
    flex-direction: column;
    align-items: center;
  }

  .sdlc {
    inline-size: 33rem;
    margin-left: -5rem;
    margin-top: 1rem;
  }

  .agile {
    width: 20rem;
    object-fit: fill;
    margin-left: -1rem;
    margin-top: 1rem;
  }

  .closing_p {
    font-weight: bold;
    inline-size: 29rem;
    word-spacing: 8px;
    margin-left: -4rem;
  }

  .stages {
    padding-top: 15px;
    margin-left: -8rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1850px) {
  /* Home */
  .banner::after{
    content: "";
    position: absolute;
    height: 53px;
    background-color: #232323;
    bottom: 0.7rem;
    border-radius: 56%;
    filter: blur(20px);
    width: 35rem;
    left: 0;
  }

  .why-jitu::before {
    content: "";
    position: absolute;
    width: 44rem;
    height: 40px;
    background-color: dimgray;
    left: 4rem;
    border-radius: 50%;
    filter: blur(8px);
    top: -6.25rem;
    z-index: -1;
  }

  .testimonials::before {
    content: "";
    position: absolute;
    width: 45rem;
    height: 32px;
    background-color: dimgray;
    left: 4rem;
    top: -1rem;
    border-radius: 50%;
    filter: blur(15px);
  }.services::before {
    content: "";
    position: absolute;
    width: 47rem;
    height: 47px;
    background-color: #696969;
    right: -1rem;
    border-bottom-left-radius: 80%;
    filter: blur(14px);
    top: -6rem;
    z-index: -1;
  }
  
  .services::after {
    content: "";
    position: absolute;
    width: 47rem;
    height: 47px;
    background-color: #696969;
    left: -1rem;
    border-bottom-right-radius: 80%;
    filter: blur(14px);
    top: -6rem;
    z-index: -1;
  }

  .why-jitu::before {
    content: "";
    position: absolute;
    width: 40rem;
    height: 40px;
    background-color: dimgray;
    left: 10rem;
    border-radius: 50%;
    filter: blur(8px);
    top: -6.25rem;
    z-index: -1;
  }
  .why-jitu::after {
    content: "";
    position: absolute;
    width: 40rem;
    height: 32px;
    background-color: dimgray;
    left: 46rem;
    border-radius: 65%;
    filter: blur(8px);
    top: -6rem;
    z-index: -1;
  }

  .testimonials::before {
    content: "";
    position: absolute;
    width: 70rem;
    height: 32px;
    background-color: dimgray;
    left: 16rem;
    top: -1rem;
    border-radius: 50%;
    filter: blur(15px);
  }

  .previous,
  .next{
    height: 4rem;
    margin: 10rem 0;
  }
  
  .carousel-control-prev-icon img,
  .carousel-control-next-icon img{
    width: 36px !important;
    height: 2rem !important;
  }

  .testimonial-content{
    inline-size: 45rem;
  }
  .testimonial-author{
    inline-size: 12rem;
    margin-left: 60rem;
  }

  /* Processes */
  .banners::after {
    content: "";
    position: absolute;
    height: 53px;
    background-color: #232323;
    bottom: -25px;
    border-radius: 56%;
    filter: blur(20px);
    width: 55rem;
    left: 26rem;
  }

  .banner-title {
    inline-size: 37rem;
    text-transform: initial !important;
    font-size: 56px;
  }

  .banner-content {
    inline-size: 27rem;
    font-size: 24px;
  }

  .country-content {
    inline-size: 43rem;
    font-size: 20px;
  }

  .header_text {
    text-align: center;
    inline-size: 41rem;
  }

  #sdlc {
    margin: 0 1.5rem;
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
  }

  #sdlc:hover {
    background-color: #ffffff !important;
  }

  .sw_lifeCycle {
    width: 78rem;
    background-color: #ffffff;
    line-height: 5.3;
    text-align: left;
    padding: 50px 0px 50px 110px;
    border-radius: 0px 15px 15px 0px;
    margin-top: -200px;
    box-shadow: 5px 10px 5px #5b5b5b;
    position: absolute;
  }

  .subHeaderSDCL {
    font-weight: 100px;
    font-size: 30px;
  }

  .headerSDLC {
    font-weight: bold;
    inline-size: 981px;
    word-spacing: 6px;
    padding-bottom: 15px;
    font-size: 2.5rem;
  }

  .sw_subheading {
    text-transform: none;
    inline-size: 46.313rem;
    font-size: 1.25rem;
    color: grey;
  }

  .multi-country-processes::after {
    left: -23rem;
    content: "";
    background-color: #696969;
    position: absolute;
    height: 37px;
    width: 55rem;
    transform: skewX(-0.24turn);
    opacity: 0.5;
    filter: blur(10px);
  }

  .img-sdlc::before {
    width: 57rem;
    top: 28px;
    border-radius: 60%;
    filter: blur(21px);
    left: 20rem;
    transform: skew(10deg, -3deg);
  }

  .agile-process {
    margin-top: 18rem;
  }

  .subHeaderSDCL,
  .headerSDLC,
  .sw_subheading {
    margin-left: 5rem;
  }

  .muliple_processes {
    display: flex;
    justify-content: center;
  }

  .processTab {
    width: 65% !important;
    position: relative;
  }

  .sdlc {
    inline-size: 31rem;
  }

  .multi-country-text-button {
    margin-left: -11rem;
  }

  .accordion {
    visibility: collapse;
    display: none;
  }

  .bg-benefits {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    height: 116vh;
  }

  .agile {
    width: 35rem;
    object-fit: fill;
  }

  .closing_p {
    font-weight: bold;
    inline-size: 29rem;
    word-spacing: 8px;
  }

  .stages {
    padding-top: 15px;
  }

  .jitucontact::before {
    left: 8rem;
  }

  .jitucontact::after {
    left: 45rem;
  }
}

/* Desktops and larger screens */
@media only screen and (min-width: 1900px) {
  .main_footer {
    display: flex;
    flex-direction: row;
  }
  .f_contacts,
  .f_quicklinks,
  .f_ourtechfam {
    padding: 50px 0px 0px 0px;
  }
  #d_topbar {
    display: block;
  }
  .ul2 {
    gap: 30px;
  }
  #extra_linkz {
    display: none;
  }

  /* Home */
  .services::before {
    content: "";
    position: absolute;
    width: 47rem;
    height: 47px;
    background-color: #696969;
    right: -1rem;
    border-bottom-left-radius: 80%;
    filter: blur(14px);
    top: -6rem;
    z-index: -1;
  }
  
  .services::after {
    content: "";
    position: absolute;
    width: 47rem;
    height: 47px;
    background-color: #696969;
    left: -1rem;
    border-bottom-right-radius: 80%;
    filter: blur(14px);
    top: -6rem;
    z-index: -1;
  }

  .why-jitu::before {
    content: "";
    position: absolute;
    width: 40rem;
    height: 40px;
    background-color: dimgray;
    left: 10rem;
    border-radius: 50%;
    filter: blur(8px);
    top: -6.25rem;
    z-index: -1;
  }
  .why-jitu::after {
    content: "";
    position: absolute;
    width: 40rem;
    height: 32px;
    background-color: dimgray;
    left: 46rem;
    border-radius: 65%;
    filter: blur(8px);
    top: -6rem;
    z-index: -1;
  }

  .testimonials::before {
    content: "";
    position: absolute;
    width: 70rem;
    height: 32px;
    background-color: dimgray;
    left: 16rem;
    top: -1rem;
    border-radius: 50%;
    filter: blur(15px);
  }

  /* Processes */
  .banners::after {
    content: "";
    position: absolute;
    height: 53px;
    background-color: #232323;
    bottom: -25px;
    border-radius: 56%;
    filter: blur(20px);
    width: 55rem;
    left: 34rem;
  }

  .banner-content {
    inline-size: 27rem;
    font-size: 24px;
  }

  #sdlc {
    margin: 0 1.5rem;
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
  }

  #sdlc:hover {
    background-color: #ffffff !important;
  }

  .multi-country-processes::after {
    left: -23rem;
    content: "";
    background-color: #696969;
    position: absolute;
    height: 37px;
    width: 55rem;
    transform: skewX(-0.24turn);
    opacity: 0.5;
    filter: blur(10px);
  }

  .subHeaderSDCL,
  .headerSDLC {
    margin-left: 12rem !important;
  }

  .sw_subheading {
    margin-left: 12rem !important;
    inline-size: 47rem !important;
  }

  .sw_lifeCycle {
    background-color: #ffffff;
    line-height: 5.3;
    text-align: left;
    padding: 50px 0px 50px 110px;
    border-radius: 0px 15px 15px 0px;
    margin-top: -200px;
    box-shadow: 5px 10px 5px #5b5b5b;
    position: absolute;
    width: 92rem;
  }

  .subHeaderSDCL {
    font-weight: 100px;
    font-size: 30px;
  }

  .headerSDLC {
    font-weight: bold;
    inline-size: 981px;
    word-spacing: 6px;
    padding-bottom: 15px;
    font-size: 2.5rem;
  }

  .sw_subheading {
    text-transform: none;
    inline-size: 46.313rem;
    font-size: 1.25rem;
    color: grey;
  }

  .img-sdlc::before {
    width: 61rem;
    top: 23px;
    border-radius: 70%;
    left: 31rem;
    filter: blur(33px);
    transform: skew(10deg, -3.5deg);
  }

  .muliple_processes {
    display: flex;
    justify-content: center;
  }

  .multi-country-text-button {
    margin-left: -11rem;
  }

  .processTab {
    width: 65% !important;
    position: relative;
  }

  .accordion {
    visibility: collapse;
    display: none;
  }

  .agile-process {
    position: relative;
    margin-top: 16rem;
  }

  .sdlc {
    inline-size: 31rem;
  }

  .agile {
    width: 35rem;
    object-fit: fill;
  }

  .closing_p {
    font-weight: bold;
    inline-size: 29rem;
    word-spacing: 8px;
  }

  .stages {
    padding-top: 15px;
  }

  .bg-benefits {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    height: 116vh;
  }

  .jitucontact::before {
    left: 20rem;
  }
  .jitucontact::after {
    left: 55rem;
  }
}
