:root {
    --beige-color: #FCF5F5;
    --dimgrey-color: #F4F4F4;
    --white-color: #FFFFFF;
    --secondary-color: #F68B2A;
    --primary-color: #C3202F;
    --black-color: black;
	--fontsize: 16px;
}

@font-face {
    font-family: 'sofiapro';
    src: url('../font/sofiapro-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: 'articulat';
src: url('../font/ArticulatCF-Medium.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
  
  
body {
    font-family: 'sofiapro', sans-serif;
    font-size: var(--fontsize);
    line-height: 1.5;
    color: #000;
    white-space: normal;
}



h1,
h2 {
    font-family: "articulat" !important;
    font-weight: 600;
    font-size: 35px;
}

h3,
h4 {
    font-family: 'articulat' !important;
    font-weight: 600 !important;
    font-size: 30px;
}
h5 {
    font-family: 'articulat' !important;
    text-transform: uppercase;
}
p {
    font-family: "sofiapro";
    font-weight: 400;
    font-size: var(--fontsize);
    margin: 5px 0px 20px 0px;
    line-height: 2.06em;
}

.button {
    font-family: "articulat" !important;
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    border-radius: 10px !important;
    padding: 15px 20px !important;
    border: none !important;
    text-transform: uppercase !important;
}

.button:hover{
    background-color: var(--white-color) !important;
	background: var(--white-color) !important;
    border-color: var(--secondary-color) !important;
    color: var(--secondary-color) !important;
}

.section{
    margin: 80px 0 0 0 !important;
}

i {
    color: var(--primary-color);
    font-size: var(--fontsize)
}

a {
    text-decoration: none !important;
}

.main_footer a {
	color: var(--white-color);
	
}
/* Navbar Styling  */

.nav-lev1{
    justify-content: end;
}

.bg-jitu{
    --bs-bg-opacity: 1;
    background-color: var(--primary-color)!important;
}
.link_p{
    font-family: var(--secondary-font) !important;
    font-size: 1.1em;
}
.link_p2{
    font-family: var(--main-font);
    font-size: 1.5em;
}
.ul1{
    gap: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.ul2{
    gap: 30px;
}
.bound{
    content: '';
    margin-right: 2px;
    display: block;
    width: 1px;
    border-right: 1px solid --black-color;
    height: 20px;
    margin-top: 0.4em;
}

/* Spacer */
.spacer{
    margin-bottom: 100px;
}

/* Footer */
.main_footer{
    display: flex;
    flex-direction: row;
    background-image: url("../img/footer/footer.jpg"), linear-gradient(rgba(0, 0, 0, 0.707),rgba(0,0,0,0.7));
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}
.footer_logo>a>img{
    width: 200px;
    margin: 40px;
}

.f_contacts, .f_quicklinks, .f_ourtechfam{
    color: var(--white-color);
    font-size: var(--fontsize);
    font-weight: 200;
}
.f_contacts ul li, .f_quicklinks ul li, .f_ourtechfam ul li{
    list-style: none;
    margin-bottom: 10px;
}
.f_contacts ul, .f_quicklinks ul, .f_ourtechfam ul{
    padding-left: 0;
}
.link_r{
    /* display: flex; */
    width: 20%;
}
.link_l{
    width: 80%;
}

.landing{
    display: flex;
    flex-direction: column;
}

.land_btn{
    display: flex;
    gap: 10px;     
}
  
#sdlc{
    background-color: transparent !important; 
    border: 2px solid #FFFFFF !important;
}

#sdlc:hover{
    background-color: #FFFFFF !important;
}
.bg-benefits{
    background-image: url("https://cdn.pixabay.com/photo/2015/06/22/08/38/siblings-817369_960_720.jpg");
    width: 100vw;
    height: 90vh; 
}

.sw_subheading {
    text-transform: none;
}

.sw_lifeCycle{
    background-color: #FFFFFF;
    padding: 100px;
    line-height: 5.3;
    text-align: left;
    padding: 49px;
    border-radius: 0px 15px 15px 0px;
    margin-top: -200px;
    box-shadow: 5px, 10px, 5px, 10px white;
     
}

.process{
    background-color: #FDFDFD;
}

.stages{
    padding-right: 20px !important;
padding-top: 15px;
}

.border_stage{
    padding-top: 20px;
   background-color:  linear-gradient(to left, #4C4647,#A65348,#D33733);
}

.closing_p{
    font-weight: bold;
}

#wpforms-submit-12{
    background-color: #F68B2A;
}

#wpforms-submit-12:hover{
    background-color: #FFFFFF;
    color: #F68B2A;
}

.border_stage{
   border: 2px solid linear-gradient(#604942, #C86E66, #D02A25);
   border-left: none;
   border-right: none;
   border-bottom: none;
}

.muliple_processes{
    display: flex;
    justify-content: center;
}

.btn_mutiple{
    background-color: white !important;
    color: black !important;
    font-weight: bold !important; 
    width: 240px; 
    text-align: left;
    text-transform: uppercase;
}

.content{
    /* border: 2px solid red; */
    padding: 10px;
    height: 290px;
    width: 900px;
    text-align: left;
    background-color: white;
    font-weight: bold;
    box-shadow: 10px 10px 10px #F4F4F4;
    border-radius: 10px ;
}

.no_bg_blue{
    background-color: white !important;

}

.header_text{
    text-align: center;
}

.view{
    margin-top: 51px;
}