.trainingContent {
  background-color: "#FCF4F4";
}

#v-pills-turnaround-tab,
#v-pills-flexiblity-tab,
#v-pills-quality-tab,
#v-pills-davings-tab {
  background-color: white !important;
}

#v-pills-turnaround-tab,
#v-pills-flexiblity-tab,
#v-pills-quality-tab,
#v-pills-davings-tab:hover {
  background-color: white !important;
}

#trainingbtn {
  background-color: white !important;
  border: 2px solid #84302d !important;
  color: #f68b2a !important;
  inline-size: 300px;
}

#trainingbtn :hover {
  background-color: #f68b2a !important;
  color: #ffffff;
}

.threetraining {
  width: 100%;
  inline-size: 1247px;
}

.tech-stack {
  border: 1px solid red;
}

.rightIcon {
  display: inline-flex;
  align-items: center;
}

.rightIcon img,
.rightIcon p {
  vertical-align: middle;
}

.program {
  box-shadow: 0px 6px 20px 5px #c6ceca;
  margin: 0px 0px 0px 0px !important;
}

.programContent {
  inline-size: 348px;
}

.bg-program {
  background-color: #f4f7f4;
  margin: 20px 0px 0px 0px !important;
}

.teach {
  box-shadow: 0px 6px 20px 5px #c6ceca;
  background-color: white;
}

#attchmentbtn {
  width: 40%;
  margin-left: 10px;
}
